html,
body{
  height: 100%;
}

body {
  color: $default;
  font-size: 16px;
  @extend %rubik-400;
}

.main{
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  color: $default;
  font-size: 16px;
  line-height: 26px;
  @extend %rubik-400;
}

.breadcrumbs{
  display: flex;
  justify-content: center;
  &__list{
    display: flex;
  }
  &__item{
    font-size: 14px;
    line-height: 24px;
    color: #979ba0;
    @extend %rubik-400;
    padding-right: 20px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      top: 9px;
      right: 9px;
      width: 1px;
      height: 11px;
      background-color: #979ba0;
      transform: rotate(20deg);
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}
