@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// Header

.header{
  padding: 50px 0 44px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 30px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    color: #436372;
    transition: all .3s;
    &:hover{
     color: $default; 
    }
  }
  &__list-link--active{
    color: $default;
  }
}

.user-nav{
  display: flex;
  &__link{
    position: relative;
  }
  &__link-search{
    padding: 17px;
    background-color: #edf1f4;
    border-radius: 50%;
    margin-right: 20px;
  }
  &__link-heart{
    padding: 17px 24px;
    background-color: #fcd7b6;
    border-radius: 56% 0 0 56%;
    position: relative;
  }
  &__link-heart::after{
    position: absolute;
    content: "";
    top: 11px;
    right: 0;
    height: 32px;
    width: 2px;
    background-color: #fde7d3;
  }
  &__link-cart{
    padding: 17px 20px;
    background-color: #fcd7b6;
    border-radius: 0 50% 50% 0;
    margin-right: 20px;
  }
  &__link-user{
    padding: 15px;
    background-color: #a3bbc8;
    border-radius: 50%;
  }
  &__num{
    position: absolute;
    font-size: 10px;
    @extend %dmsans-400;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 8px;
    right: 12px;
    color: #334c59;
    text-align: center;
    line-height: 16px;
  }
}

// Header

// Top slider

.top-slider{
  background-color: #fcd7b6;
  padding-top: 96px;
  &__item{
    display: flex !important;
    justify-content: space-around;
  }
  &__content{
    padding-left: 300px;
    padding-top: 130px;
  }
  &__img{
    padding-right: 170px;
  }
  &__title{
    max-width: 480px;
    font-size: 70px;
    line-height: 72px;
    @extend %rubik-500;
    color: #243f4d;
    margin-bottom: 38px;
  }
  &__text{
    max-width: 380px;
    font-size: 18px;
    line-height: 30px;
    @extend %rubik-400;
    color: #436372;
    margin-bottom: 58px;
  }
  &__link{
    padding: 20px 95px 20px 29px;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    position: relative;
  }
  &__link::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    top: 30px;
    right: 24px;
    background-color: #fff;
  }
  &__link::before{
    content: "";
    position: absolute;
    top: 26px;
    right: 20px;
    width: 0;
	  height: 0;
	  border-top: 5px solid transparent;
	  border-left: 6px solid #fff;
	  border-bottom: 5px solid transparent;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      margin: 0 11px 44px 11px;
      button{
        padding: 0;
        font-size: 11px;
        color: #243f4d;
        @extend %rubik-500;
        border: none;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #fde3cc;
      }
      &.slick-active{
        button{
          background-color: #fff; 
        }
      }
    }
  }
}

.info{
  background-color: #fef7f0;
  display: flex;
  justify-content: space-around;
  &__item{
    max-width: 550px;
    padding: 40px 150px;
  }
  &__item:nth-child(2){
    border-left: 1px solid #e8e4df;
    border-right: 1px solid #e8e4df;
  }
  &__item-title{
    font-size: 18px;
    line-height: 30px;
    @extend %dmsans-700;
    color: #414141;
    position: relative;
  }
  &__item-title::before{
    content: "";
    position: absolute;
    top: 5px;
    left: -77px;
    width: 55px;
    height: 55px;
  }
  &__item-support::before{
    background-image: url('../images/support.svg');
    background-repeat: no-repeat;
  }
  &__item-delivery::before{
    background-image: url('../images/delivery.svg');
    background-repeat: no-repeat;
  }
  &__item-secure::before{
    background-image: url('../images/secure.svg');
    background-repeat: no-repeat;
  }
}

// Top slider

// Products

.products{
  padding: 70px 0 85px;
  &__title{
    font-size: 36px;
    line-height: 46px;
    @extend %dmsans-700;
    color: #191919;
    margin-bottom: 30px;
    text-align: center;
  }
  &__filter-btn{
    text-align: center;
    margin-bottom: 74px;
  }
  &__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    color: #8b8b8b;
    @extend %dmsans-700;
    transition: all .3s;
    &:hover{
      color: #191919;
    }
  }
}

.mixitup-control-active{
  color: $title;
}

.products__content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.products-item{
  background-color: #fff;
  height: 384px;
  width: 270px;
  text-align: center;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  margin-bottom: 40px;
  &__img-box{
    position: relative;
    height: 210px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 25px 25px 0 25px;
  }
  &__link-box{
    transition: all .3s;
    position: absolute;
    left: 54px;
    bottom: 8px;
    transform: translateY(300%);
  }
  &__link{
    margin-right: 14px;
    padding: 13px 10px 5px 10px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .3s;
    path{
      transition: all .3s;
    }
  }
  &__link:hover{
    background-color: #a3bbc8;
    path{
      fill: #fff;
    }
  }
  &:hover{
    .products-item__link-box{
      transform: translateY(0);
    }
  }
  &__title{
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-500;
    color: #243f4d;
    margin-top: 80px;
  }
  &__num{
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-700;
    color: #a3bbc8;
    margin-bottom: 28px;
  }
}

// Products

// Footer

.footer-top{
  padding: 70px 0;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact{
    width: 195px;
    margin-right: 100px;
  }
  &__nav{
    width: 122px;
    margin-right: 180px;
  }
  &__item-form{
    width: 270px;
  }
  &__logo{
    margin-bottom: 24px;
    display: block;
  }
  &__adress,
  &__email,
  &__phone{
    display: block;
    margin-bottom: 18px;
    line-height: 32px;
  }
  &__title{
    margin: 21px 0;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    @extend %dmsans-700;
  }
  &__link{
    font-size: 16px;
    line-height: 32px;
  }
  &__text{
    margin-bottom: 30px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
    max-width: 170px;
    width: 100%;
    background-color: #fef7f0;
    border: none;
    padding: 14px;
  &::placeholder{
    color: #234969;
    font-size: 12px;
    @extend %dmsans-400;
  }
 }
  &__form-btn{
    @extend %btn;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list{
    display: flex;
  }
  &__item:first-child{
    border-right: 1px solid $default;
  }
  &__item:nth-child(2){
    border-right: 1px solid $default;
  }
  &__item:nth-child(3){
    border-right: 1px solid $default;
  }
  &__item{
    padding: 0 12px;
  }
}

// Footer

@import 'media';