@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

// Header

.header{
  padding: 50px 0 44px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 30px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    color: #436372;
    transition: all .3s;
    &:hover{
     color: $default; 
    }
  }
  &__list-link--active{
    color: $default;
  }
}

.user-nav{
  display: flex;
  &__link{
    position: relative;
  }
  &__link-search{
    padding: 17px;
    background-color: #edf1f4;
    border-radius: 50%;
    margin-right: 20px;
  }
  &__link-heart{
    padding: 17px 24px;
    background-color: #fcd7b6;
    border-radius: 56% 0 0 56%;
    position: relative;
  }
  &__link-heart::after{
    position: absolute;
    content: "";
    top: 11px;
    right: 0;
    height: 32px;
    width: 2px;
    background-color: #fde7d3;
  }
  &__link-cart{
    padding: 17px 20px;
    background-color: #fcd7b6;
    border-radius: 0 50% 50% 0;
    margin-right: 20px;
  }
  &__link-user{
    padding: 15px;
    background-color: #a3bbc8;
    border-radius: 50%;
  }
  &__num{
    position: absolute;
    font-size: 10px;
    @extend %dmsans-400;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 8px;
    right: 12px;
    color: #334c59;
    text-align: center;
    line-height: 16px;
  }
}

// Header



// Footer

.footer-top{
  padding: 70px 0;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact{
    width: 195px;
    margin-right: 100px;
  }
  &__nav{
    width: 122px;
    margin-right: 180px;
  }
  &__item-form{
    width: 270px;
  }
  &__logo{
    margin-bottom: 24px;
    display: block;
  }
  &__adress,
  &__email,
  &__phone{
    display: block;
    margin-bottom: 18px;
    line-height: 32px;
  }
  &__title{
    margin: 21px 0;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    @extend %dmsans-700;
  }
  &__link{
    font-size: 16px;
    line-height: 32px;
  }
  &__text{
    margin-bottom: 30px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
    max-width: 170px;
    width: 100%;
    background-color: #fef7f0;
    border: none;
    padding: 14px;
  &::placeholder{
    color: #234969;
    font-size: 12px;
    @extend %dmsans-400;
  }
 }
  &__form-btn{
    background-color: #a3bbc8;
    border: none;
    padding: 12px 16px;
    color: #fff;
    cursor: pointer;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list{
    display: flex;
  }
  &__item:first-child{
    border-right: 1px solid $default;
  }
  &__item:nth-child(2){
    border-right: 1px solid $default;
  }
  &__item:nth-child(3){
    border-right: 1px solid $default;
  }
  &__item{
    padding: 0 12px;
  }
}

// Footer

@import 'media';